.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.8;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  font-size: 18px;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

/*Find Kakao Account or Password*/
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

#login-form a:focus {
  outline: none;
  color: rgba(225, 225, 0, 0.8);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  background-color: var(--yellow);
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
  z-index: 99;
}
